.div
  i Такса — маленький комочек, который экспрессивно переживает каждый акт мировой экономики, душой корпит над будущим человечества. Каждый день на нас обрушивается тонна пустой информации: новостные сводки, курсы валют, события общечеловеческого масшаба, реклама, научные открытия. Как нам ориентироваться в этом потоке информационного мусора, как реагировать?
  img#t(src='http://placehold.it/200x200?text=taksa')
  marquee#t сводка новостей угарчики
  marquee#s(direction='right') сводка угарчики
  marquee#f(scrollamount=3) сводка новостей угарчики